body {background-color: gray.50;}

.w__car {
    margin: 0 auto;

    &-link {
        width: fit-content;
        font-weight: bold;
        color: blue;
        margin-left: 25px;
        margin-top: 20px;
        font-size: 14px;
    }

    &-title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 48px;
    } 

    &-subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
    } 

    &-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-left: 5px;
    } 
}

.w__image {

    &-large {
        max-height: 500px;
        max-width: 28vw;
        border: 2px solid #555;
    } 

    &-small {
        max-height: 15vh;
        max-width: 15vw;
        border: 2px solid #555;
    } 

    &-tiny {
        max-height: 40px;
        max-width: 40px;
    } 
}